.spiritual_img img{
    height: 800px;
    width: 100%;
}

h2{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif; 
    
}

.spiritual_title {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 32%;
    color: white;
    font-weight: 900;
    font-size: 80px;
}

.spiritual_description {
    text-align: center;
    font-size: 25px;
}

.container {
    width: 90%;
    border: 2px solid black;
}

.btn2 {
    position:relative;
    bottom: 20px;
}

.btn3 {
    position: relative;
    top: 20px;
}

.btn4 {
    position: relative;
    top: 44px;
}

