/* 
    background-color - #092635
    color - aliceblue
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #092635;
    color: aliceblue;
    margin: 0;
}

.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}

.logo-img {
    height: 60px;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px aliceblue;
}

.logo-img:hover {
    border: none;
    transform: scale(1.1);
    transition: 0.5s;
}

.nav-content:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.icon-img {
    height: 30px;
    padding-bottom: 0;
}

.search-bar {
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 5px 40px;
    background-color: #092635;
    color: aliceblue;
}

.nav-anchor {
    text-decoration: none;
    color: aliceblue;
}

.footer {
    margin: 0;
    padding: 30px 30px 0 30px;
    color: #092635;
    background-color: aliceblue;
    font-size: small;
    font-weight: 600;
}

.inner-footer {
    display: flex;
}

.container0 {
    display: inline;
}

.container1 {
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-title {
    font-size: large;
    margin-bottom: 0;
}

.footer-logo {
    width: 100px;
}

.footer-name {
    margin: 10px;
}

span {
    color: #092635;
}

.contact-logo {
    height: 15px;
}

.footer-anchor {
    text-decoration: none;
    color: #092635;
}

.footer-end {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
}